port=@PORT@
max_msg_per_second=2000000
check_interval=1
<store>
category=fixture
type=file
fs_type=std
file_path=@SEPARATE_TEMP_OUTPUT@
base_filename=fixture
rotate_period=never
max_size=1000000
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=yes
target_write_size=16384
max_write_interval=1
</store>
