port=@PORT@
max_msg_per_second=2000000
max_queue_size=10000000
check_interval=1
<store>
categories=fixture-login fixture-session fixture-metrics-*
type=multi
target_write_size=16384
max_write_interval=1
<store0>
type=buffer
buffer_send_rate=1
retry_interval=10
retry_interval_range=1
<primary>
type=network
remote_host=127.0.0.1
remote_port=@DOWNSTREAM_PORT@
</primary>
<secondary>
type=file
fs_type=std
file_path=@SEPARATE_TEMP_OUTPUT@/relay-spool
base_filename=thisisoverwritten
max_size=1000000 #1M
add_newlines=1
</secondary>
</store0>
<store1>
type=buffer
buffer_send_rate=1
retry_interval=10
retry_interval_range=1
<primary>
type=file
fs_type=std
file_path=@SEPARATE_TEMP_OUTPUT@/local
base_filename=thisisoverwritten
rotate_period=1h
add_newlines=1
</primary>
<secondary>
type=file
fs_type=std
file_path=@SEPARATE_TEMP_OUTPUT@/local-spool
base_filename=thisisoverwritten
add_newlines=1
</secondary>
</store1>
</store>
<store>
category=ext-*
type=buffer
target_write_size=16384
max_write_interval=1
buffer_send_rate=1
retry_interval=10
retry_interval_range=1
<primary>
type=network
remote_host=127.0.0.1
remote_port=@DOWNSTREAM_PORT@
use_conn_pool=yes
</primary>
<secondary>
type=file
fs_type=std
file_path=@SEPARATE_TEMP_OUTPUT@/ext-spool
base_filename=thisisoverwritten
add_newlines=1
</secondary>
</store>
<store>
category=default
type=buffer
target_write_size=16384
max_write_interval=1
buffer_send_rate=1
retry_interval=10
retry_interval_range=1
<primary>
type=file
fs_type=std
file_path=@SEPARATE_TEMP_OUTPUT@/default
base_filename=thisisoverwritten
rotate_period=1h
</primary>
<secondary>
type=file
fs_type=std
file_path=@SEPARATE_TEMP_OUTPUT@/default-spool
base_filename=thisisoverwritten
</secondary>
</store>
