port=@PORT@
max_msg_per_second=2000000
check_interval=1
<store>
category=fixture
type=buffer
target_write_size=16384
max_write_interval=1
buffer_send_rate=1
retry_interval=10
retry_interval_range=1
adaptive_backoff=no
replay_buffer=yes
flush_streaming=no
<primary>
type=network
remote_host=127.0.0.1
remote_port=@DOWNSTREAM_PORT@
timeout=500
use_conn_pool=no
ignore_network_error=no
</primary>
<secondary>
type=file
fs_type=std
file_path=@SEPARATE_TEMP_OUTPUT@
base_filename=spool
max_size=1000000
rotate_period=never
rotate_on_reopen=no
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=no
</secondary>
</store>
