port=@PORT@
max_msg_per_second=2000000
check_interval=1
new_thread_per_category=no
<store>
category=discard
type=null
target_write_size=1
max_write_interval=1
</store>
<store>
category=fanout
type=multi
report_success=all
target_write_size=1
max_write_interval=1
<store0>
type=file
fs_type=std
file_path=@SEPARATE_TEMP_OUTPUT@/left
base_filename=left
rotate_period=never
max_size=1000000
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=yes
</store0>
<store1>
type=file
fs_type=std
file_path=@SEPARATE_TEMP_OUTPUT@/right
base_filename=right
rotate_period=never
max_size=1000000
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=yes
</store1>
<store2>
type=null
</store2>
</store>
<store>
categories=cat*
type=category
target_write_size=1
max_write_interval=1
<model>
type=file
fs_type=std
file_path=@SEPARATE_TEMP_OUTPUT@/category
base_filename=model
rotate_period=never
max_size=1000000
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=yes
</model>
</store>
