port=@PORT@
max_msg_per_second=2000000
check_interval=1
<store>
category=hash
type=bucket
num_buckets=3
bucket_type=key_hash
delimiter=124
remove_key=yes
bucket_subdir=b
failure_bucket=failed
target_write_size=1
max_write_interval=1
<bucket>
type=file
file_path=@SEPARATE_TEMP_OUTPUT@/hash
base_filename=data
fs_type=std
rotate_period=never
max_size=1000000
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=yes
</bucket>
</store>
<store>
category=modulo
type=bucket
num_buckets=3
bucket_type=key_modulo
delimiter=124
remove_key=yes
bucket_subdir=b
failure_bucket=failed
target_write_size=1
max_write_interval=1
<bucket>
type=file
file_path=@SEPARATE_TEMP_OUTPUT@/modulo
base_filename=data
fs_type=std
rotate_period=never
max_size=1000000
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=yes
</bucket>
</store>
