port=@PORT@
max_msg_per_second=2000000
check_interval=1
new_thread_per_category=no
<store>
category=bucket
type=bucket
num_buckets=2
bucket_type=key_range
bucket_range=20
delimiter=124
remove_key=yes
bucket_subdir=b
bucket_offset=0
failure_bucket=failed
target_write_size=1
max_write_interval=1
<bucket>
type=file
file_path=@SEPARATE_TEMP_OUTPUT@/bucket
base_filename=data
fs_type=std
rotate_period=never
max_size=1000000
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=yes
rotate_on_reopen=no
</bucket>
</store>

<store>
category=thrift
type=thriftfile
file_path=@SEPARATE_TEMP_OUTPUT@/thrift
base_filename=data
target_write_size=1
max_write_interval=1
fs_type=std
rotate_period=never
max_size=1000000
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=yes
rotate_on_reopen=no
use_simple_file=0
chunk_size=16
flush_frequency_ms=7
msg_buffer_size=3
</store>

<store>
category=rawthrift
type=thriftfile
file_path=@SEPARATE_TEMP_OUTPUT@/rawthrift
base_filename=data
target_write_size=1
max_write_interval=1
fs_type=std
rotate_period=never
max_size=1000000
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=yes
rotate_on_reopen=no
use_simple_file=1
chunk_size=16
flush_frequency_ms=7
msg_buffer_size=3
</store>

<store>
categories=mf*
type=multifile
file_path=@SEPARATE_TEMP_OUTPUT@/multifile
base_filename=model
target_write_size=1
max_write_interval=1
fs_type=std
rotate_period=never
max_size=1000000
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=yes
rotate_on_reopen=no
chunk_size=0
</store>

<store>
categories=tmf*
type=thriftmultifile
file_path=@SEPARATE_TEMP_OUTPUT@/thriftmultifile
base_filename=model
target_write_size=1
max_write_interval=1
fs_type=std
rotate_period=never
max_size=1000000
add_newlines=0
write_category=no
write_meta=no
write_stats=no
create_symlink=yes
rotate_on_reopen=no
use_simple_file=0
chunk_size=16
flush_frequency_ms=7
msg_buffer_size=3
</store>
